.footer {
  padding-bottom: 48px;

  @include media(desktop) {
    font-size: 41px;
  }
}

.footer-nav {
  margin-bottom: 30px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.footer-list-item {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
}
