.header {
  background: #f9fafb;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.logo-icon {
}

.header-logo-link {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #1a1a1a;
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
  }
}

.nav-list-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1a1a1a;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-list-link.active {
}

.nav-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #000;
}
