.hero-section {
  padding-top: 121px;
  padding-bottom: 100px;

  @include media(desktop) {
    padding-top: 211px;
    padding-bottom: 140px;
  }
}

.hero-container {
  background-image: url(../img/hero/hero-arrow-top-mob.png),
    url(../img/hero/hero-arrow-down-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top 220px, right top 220px;
  background-size: auto, auto;

  @include media(desktop) {
    background-image: url(../img/hero/hero-arrow-right-desk.png),
      url(../img/hero/hero-arrow-left-desk.png);
    background-position: left 475px top 141px, left 475px bottom 132px;
  }
}

.hero-title {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 12px;
}

.hero-subtitle {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 49px;

  @include media(desktop) {
    margin-bottom: 148px;
  }
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 57px;
  margin-bottom: 49px;

  @include media(desktop) {
    flex-direction: row;
    gap: 148px;
    margin-bottom: 148px;
  }
}

.hero-top-text {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #1a1a1a;
  max-width: 259px;

  @include media(desktop) {
    max-width: 470px;
  }
}

.hero-bottom-text {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #1a1a1a;
  max-width: 279px;

  @include media(desktop) {
    max-width: 504px;
  }
}

.hero-btn-wrapper {
  @include media(desktop) {
    max-width: 258px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-btn {
  background: #70d47b;
  border-radius: 12px;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #1a1a1a;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &:active {
    background: #0efa28;
  }

  @include media(desktop) {
    &:hover {
      background: #0efa28;
    }
  }
}
