.context-menu {
  background: #e5e7eb;
  padding: 26px 12px;
  max-width: 225px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  max-height: 340px;
  overflow: visible;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.close-btn {
  display: none;
  background: #f0f0f0;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  padding: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: max-content;

  @include media(desktop) {
    display: none;
  }
}

.close-icon {
  stroke: #000;
}

.context-nav {
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.context-list-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1a1a1a;
  transition: all 0.3s ease-in-out;

  &:active {
  }
}

.is-open {
  display: flex;
  transform: translateY(80px);
  opacity: 1;
  visibility: visible;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
