.testimonials-section {
  @include media(desktop) {
  }
}

.testimonials-section-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.testimonials-container {
  padding: 0;
}

.testimonials-swiper-container {
  max-width: 256px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1120px;
  }
}

.testimonials-swiper-container.show {
  visibility: visible;
}

.testimonials-slide {
  max-width: 256px;

  @include media(desktop) {
  }
}

.testimonials-avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.testimonials-avatar {
  background: #e0d2ff;
  border-radius: 30px;
  padding: 14px;
  font-family: 'Teachers', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #3c234f;
  min-width: 57px;
  min-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-name-wrapper {
}

.testimonials-name {
  font-family: 'Teachers', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #3c234f;

  @include media(desktop) {
    font-size: 20px;
  }
}

.testimonials-profession {
  font-family: 'Teachers', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #615c65;
}

.testimonials-text {
  font-family: 'Teachers', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3c234f;

  @include media(desktop) {
    font-size: 18px;
  }
}
