<section class="section access-section" id="access">
  <div class="container access-container">
    <h2 class="section-title access-title">Access Point</h2>
    <p class="access-subtitle">
      “This isn’t for everyone. But if this makes you curious — you’re one of
      us.”
    </p>
    <p class="access-text">
      Join the closed beta (available via invite or request form)
    </p>
    <p class="access-contact-text">Contact info:</p>
    <ul class="access-list">
      <li class="access-list-item">
        <p class="access-item-text">
          Email:
          <a class="access-item-link" href="mailto:access@marketingze.pro"
            >access@marketingze.pro</a
          >
        </p>
      </li>
      <li class="access-list-item">
        <p class="access-item-text">
          Address:
          <a class="access-item-link" href=""
            >MarketingZe LLC, Herengracht 301, 1016BX Amsterdam, Netherlands</a
          >
        </p>
      </li>
    </ul>
    <div class="access-btn-wrapper">
      <a class="access-btn" href="#home" rel="noopener noreferrer"
        >Request Studio Access
      </a>
    </div>
  </div>
</section>
