<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <div class="section-title-wrapper">
      <span class="section-title-dot"></span>
      <h2 class="section-title">FAQ</h2>
    </div>
    <p class="section-subtitle">Frequently Asked Questions</p>
    <ul class="faq-list">
      <li class="faq-list-item">
        <div class="faq-item-question-wrapper">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Can EventToxi host events for any game?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-down-arrow"></use></svg
            ></span>
          </button>
        </div>
        <div class="faq-item-answer-wrapper">
          <p class="faq-bottom-text">
            Yes. We support formats for popular games (like Fortnite, Valorant,
            Minecraft) and custom browser games or puzzle rooms. We tailor our
            tech stack to your platform and audience.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-question-wrapper">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Do I need technical skills to launch an event?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-down-arrow"></use></svg
            ></span>
          </button>
        </div>
        <div class="faq-item-answer-wrapper">
          <p class="faq-bottom-text">
            Not at all. You’ll work with a dedicated event consultant who
            handles tech, moderation, and flow design.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-question-wrapper">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >How long does it take to plan a tournament?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-down-arrow"></use></svg
            ></span>
          </button>
        </div>
        <div class="faq-item-answer-wrapper">
          <p class="faq-bottom-text">
            A basic competition can be up and running in 7–10 days. For larger
            branded events, we recommend 3 weeks of prep.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-question-wrapper">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Can I monetize my event?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-down-arrow"></use></svg
            ></span>
          </button>
        </div>
        <div class="faq-item-answer-wrapper">
          <p class="faq-bottom-text">
            Yes. We support ticketing, sponsorship integration, and influencer
            codes — plus you keep 100% of your donations or merch sales.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
