<section class="section features-section" id="features">
  <div class="container features-container">
    <div class="section-title-wrapper">
      <span class="section-title-dot"></span>
      <h2 class="section-title">Features</h2>
    </div>
    <p class="section-subtitle">Why Choose EventToxi?</p>
    <ul class="features-list">
      <li class="features-list-item">
        <div class="features-item-title-wrapper">
          <h3 class="features-item-title">Custom Tournament Engines</h3>
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-switch-arrows"></use>
          </svg>
        </div>
        <p class="features-item-text">
          Tailored brackets, scoreboards, and rulesets
        </p>
      </li>
      <li class="features-list-item">
        <div class="features-item-title-wrapper">
          <h3 class="features-item-title">Quest Room Events</h3>
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-switch-arrows"></use>
          </svg>
        </div>
        <p class="features-item-text">
          Multiplayer puzzle runs with leaderboard rankings
        </p>
      </li>
      <li class="features-list-item">
        <div class="features-item-title-wrapper">
          <h3 class="features-item-title">Streamer Integration</h3>
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-switch-arrows"></use>
          </svg>
        </div>
        <p class="features-item-text">Co-host tools for Twitch and YouTube</p>
      </li>
      <li class="features-list-item">
        <div class="features-item-title-wrapper">
          <h3 class="features-item-title">Moderation Frameworks</h3>
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-switch-arrows"></use>
          </svg>
        </div>
        <p class="features-item-text">Minimize toxicity, maximize fairness</p>
      </li>
      <li class="features-list-item">
        <div class="features-item-title-wrapper">
          <h3 class="features-item-title">Mobile-Friendly Platforms</h3>
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-switch-arrows"></use>
          </svg>
        </div>
        <p class="features-item-text">Play, watch, or host from any device</p>
      </li>
      <li class="features-list-item">
        <div class="features-item-title-wrapper">
          <h3 class="features-item-title">Ready-to-Use Playbooks</h3>
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-switch-arrows"></use>
          </svg>
        </div>
        <p class="features-item-text">Plug-and-play guides to launch in days</p>
      </li>
    </ul>
  </div>
</section>
