<footer class="footer" id="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <div class="footer-list">
        <div class="footer-list-item">
          <a class="footer-link" target="_blank" href="policies.pdf#page=1"
            >[Privacy Policy]</a
          >
        </div>
        <div class="footer-list-item">|</div>
        <div class="footer-list-item">
          <a class="footer-link" target="_blank" href="policies.pdf#page=7"
            >[Terms of Calm]</a
          >
        </div>
        <div class="footer-list-item">|</div>
        <div class="footer-list-item">
          <a class="footer-link" target="_blank" href="policies.pdf#page=11"
            >[Cookies]</a
          >
        </div>
      </div>
    </nav>
    <p class="footer-text">© 2025 MarketingZe LLC. All insights reserved.</p>
  </div>
</footer>
