<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">EventToxi</h1>
      <p class="hero-subtitle">Competitive Gaming Event Lab</p>
      <p class="hero-text">
        Launch, run, and grow high-energy gaming events with precision.<br />
        From online tournaments to interactive quest room battles, EventToxi
        helps streamers, studios, and brands build structured, competitive, and
        unforgettable digital gaming experiences.
      </p>
      <div class="hero-btn-wrapper">
        <a class="hero-btn" href="#contact" rel="noopener noreferrer"
          >Start Your First Event
        </a>
      </div>
    </div>
  </div>
</section>
