<section class="section hero-section" id="home">
  <div class="container hero-container">
    <h1 class="hero-title">Signal vs. Noise</h1>
    <p class="hero-subtitle">
      The internet is full of advice. But very little signal
    </p>
    <div class="hero-text-wrapper">
      <p class="hero-top-text">
        “No more ‘best practices’. Just real reactions.”
      </p>
      <p class="hero-bottom-text">
        “Market test your ideas before you write the full deck.”
      </p>
    </div>
    <div class="hero-btn-wrapper">
      <a class="hero-btn" href="#access" rel="noopener noreferrer"
        >Enter Test Studio
      </a>
    </div>
  </div>
</section>
