<div class="context-menu">
  <button class="close-btn" type="button" aria-label="Close mobile menu">
    <svg class="close-icon" width="20" height="20">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home"
          >Signal vs. Noise</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#slidecraft"
          >Slidecraft</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#deck">The Test Deck</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#humans"
          >Humans, Not Algorithms</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#experiments"
          >Experiments in Motion</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#truth">Ground Truth</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#access">Access Point</a>
      </li>
    </ul>
  </nav>
</div>
