<section class="section slidecraft-section" id="slidecraft">
  <div class="slidecraft-section-wrapper">
    <div class="container">
      <h2 class="section-title slidecraft-title">Slidecraft</h2>
      <p class="slidecraft-text">
        What Is It? MarketingZe gives you a workspace of single-slide
        experiments. You don’t need 40 pages. You need one core hypothesis:
      </p>
      <p class="slidecraft-text">If we say it this way — will they care?</p>
      <div class="slidecraft-swiper-container">
        <ul class="swiper-wrapper slidecraft-swiper-wrapper">
          <li class="swiper-slide slidecraft-slide">
            <p class="slidecraft-slide-text">Visual Hook Slide</p>
          </li>
          <li class="swiper-slide slidecraft-slide">
            <p class="slidecraft-slide-text">Tagline Resonance Slide</p>
          </li>
          <li class="swiper-slide slidecraft-slide">
            <p class="slidecraft-slide-text">CTA Sim</p>
          </li>
          <li class="swiper-slide slidecraft-slide">
            <p class="slidecraft-slide-text">Micro-Story</p>
          </li>
          <li class="swiper-slide slidecraft-slide">
            <p class="slidecraft-slide-text">5-Second Ad Frame</p>
          </li>
        </ul>
      </div>
      <div class="controls slidecraft-controls">
        <button
          class="arrow-btn"
          id="slidecraftLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="47" height="23">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <p class="slidecraft-controls-text">1/5</p>
        <button
          class="arrow-btn"
          id="slidecraftRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="47" height="23">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
      <p class="slidecraft-text">
        Everything is versionable, timestamped, and compared in your dashboard.
      </p>
    </div>
  </div>
</section>
